@page "/YourBookings"

<h3>Bookings</h3>
<table class="table">
    <thead>
    <tr>
        <th>Trainee</th>
        <th>Station</th>
        <th>Date</th>
        <th>Training Start Time</th>
        <th>Training End Time</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var booking in BookingList)
    {
        <tr>
            <td>@booking.TraineeName</td>
            <td>@booking.Station</td>
            <td>@booking.Date.ToString("yyyy-MM-dd")</td>
            <td>@booking.StartTime.ToString("HH:mm")</td>
            <td>@booking.EndTime.ToString("HH:mm")</td>
            <td>@booking.Status</td>
        </tr>
    }
    @code

    {
        private List<BookingModel> BookingList = new List<BookingModel>();
    }
</tbody>
</table>
